/target
/documentation
/nbproject
/.idea
/dependency-reduced-pom.xml
/development/various

/development/sync_fenix7/GARMIN/*.fit
/development/sync_fenix7/GARMIN/Activity/*.fit
/development/sync_fenix7/GARMIN/Courses/*.fit
/development/sync_fenix7/GARMIN/Location/*.fit
/development/sync_fenix7/GARMIN/NewFiles/*.gpx

/development/sync_edge1040/Garmin/*.fit
/development/sync_edge1040/Garmin/Activities/*.fit
/development/sync_edge1040/Garmin/Courses/*.fit
/development/sync_edge1040/Garmin/Locations/*.fit
/development/sync_edge1040/Garmin/NewFiles/*.gpx

/development/sync_gpsmap66sr/GARMIN/*.fit
/development/sync_gpsmap66sr/GARMIN/Activities/*.fit
/development/sync_gpsmap66sr/GARMIN/Courses/*.fit
/development/sync_gpsmap66sr/GARMIN/GPX/*.gpx
/development/sync_gpsmap66sr/GARMIN/NewFiles/*.gpx

/development/sync_gpsmap67/GARMIN/*.fit
/development/sync_gpsmap67/GARMIN/Activities/*.fit
/development/sync_gpsmap67/GARMIN/Courses/*.fit
/development/sync_gpsmap67/GARMIN/GPX/*.gpx
/development/sync_gpsmap67/GARMIN/NewFiles/*.gpx
